@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-roboto;
  }
  body {
    @apply flex h-full-svh bg-gray-light-50 text-gray-dark-50 dark:bg-gray-dark-50 dark:text-gray-light-50 overflow-hidden mx-auto;
  }
  html {
    -webkit-text-size-adjust: 100%;
    overflow-y: hidden;
  }
  img {
    -webkit-user-drag: none;
  }
}
